body,html{
    background-color:#f4f4f4;
}
.new{
    height:1.18rem;
    line-height:.98rem;
    padding:0 .3rem;
    border-bottom:.01rem solid #eee;
    border-top:.2rem solid #eee;
}
.icon-jwj_tianjiahaoyou1{
    font-size:.34rem;
    color:#666;
}
.new>span{
    font-size:.3rem;
    color:#333;
}
.news{
    height:.98rem;
    line-height:.98rem;
    padding:0 .3rem;
}
.news>span{
    font-size:.3rem;
    color:#333;
}
.icon-jwj_tianjiahaoyou{
    font-size:.34rem;
    color:#666;
}