body,html{
    background-color:#f4f4f4;
}
.picture{
    width:1.6rem;
    height:1.6rem;
    margin-top:.2rem;
    margin-bottom:.3rem;
}
.picture>img{
    width:100%;
    height:100%;
}
.p_picture{
    padding:.1rem .3rem .2rem .3rem;
}
.achieve{
    width: .8rem;
    height: 1rem;
    line-height: 1rem;
    top: 30%;
}