body,html{
    background-color:#f4f4f4;
}
.number{
    height:1.18rem;
    padding:0 .3rem;
    border-bottom:.01rem solid #eee;
    border-top:.2rem solid #f4f4f4;
}
.resetUpwd{
    width:80%;
    height:.94rem;
    font-size:.3rem;
}
.a_number{
    height:.98rem;
    padding:0 .3rem;
    border-bottom:.01rem solid #eee;
}
.a_number>em{
    background: url("../img/eye.png") no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: .6rem;
    height: .8rem;
}
.sure{
    width:90%;
    margin:.3rem 5%;
    height:.88rem;
    border-radius:.12rem;
    background-color:#7b8df9;
    font-size:.34rem;
    color:#fff;
}