.layer > .header {
  position: relative;
  width: 100%;
  height: 6rem;
  overflow: hidden;
  top:0;
}
.layer > .header > em {
  width: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  position: absolute;
  left: 3%;
  top:.68rem;
  z-index:5;
  color: #fff;
  font-size: 0.5rem;
  background-color: rgba(0, 0, 0, .3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.layer > .header > img {
  width: 100%;
  position: absolute;
  top:0;
  height: 100%;
}
.layer > .header > i{
  position: absolute;
  font-size: .5rem;
  height: 0.6rem;
  line-height: 0.6rem;
  padding-left: .05rem;
  right: 3%;
  width: .6rem;
  top:.68rem;
  z-index:5;
 color: #fff;
  background-color: rgba(0, 0, 0, .3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.layer > .main_content{
  width:100%;
  padding-bottom:1rem;
  background-color:#fff;
}
.layer > .main_content > .top_message {
  padding: 0.2rem 0.3rem;
  border-bottom: 1px solid #eeeeee;
}
.layer > .main_content > .top_message > p {
  height: 1rem;
  line-height: 1rem;
}
.layer > .main_content > .top_message > p > span {
  font-size: 0.42rem;
}
.layer > .main_content > .top_message > p > em {
  margin-left: 10%;
  font-size: 0.3rem;
}
.layer > .main_content > .top_message > aside {
  display: block;
}
.layer > .main_content > .top_message > aside > i {
  font-size: 0.22rem;
  margin-right: 5%;
  padding: 0.05rem 0.2rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
}
.layer > .main_content > .top_message > aside > i:first-of-type {
  background-color: #f37cb5;
}
.layer > .main_content > .top_message > aside > i:last-of-type {
  background-color: #5bb8d5;
}
.layer > .main_content > .top_message > aside > i:nth-of-type(2) {
  background-color: #ebbb9a;
}
.layer > .main_content > .dynamic_group > p {
  padding: 0 0.3rem;
  margin-bottom: 0;
  font-size: 0.3rem;
  height:.88rem;
  line-height: .88rem;
}
.layer {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
}
.layer > .main_content > .dynamic_group > .dynamic > .dy_top {
  position: relative;
}
.layer > .main_content > .dynamic_group > .dynamic > .dy_top > img {
  width: 0.8rem;
  height: 0.8rem;
  vertical-align: middle;
  border-radius: 50%;
}
.layer > .main_content > .dynamic_group > .dynamic > .dy_top > .dy_middle_top {
  position: absolute;
  left: 1rem;
  top: 2%;
}
.layer > .main_content > .dynamic_group > .dynamic > .dy_top > .dy_middle_top > span {
  font-size: 0.32rem;
  display: block;
}
.layer > .main_content > .dynamic_group > .dynamic > .dy_top > .dy_middle_top > em {
  color: #999;
  font-size: 0.24rem;
}
.layer > .main_content > .dynamic_group > .dynamic > .dy_connect {
  margin-top: 0.2rem;
}
.layer > .main_content > .dynamic_group > .dynamic > .dy_connect > p {
  line-height: 0.4rem;
  margin-bottom: 0.2rem;
  font-size: 0.28rem;
  color: #666;
  text-indent: 2em;
}
.layer > .main_content > .dynamic_group > .dynamic > .dy_connect > .imgs_box > .img_box {
  display: inline-block;
  width: 30%;
  margin-right: 1%;
  margin-bottom: 0.2rem;
}
.layer > .main_content > .dynamic_group > .dynamic > .dy_connect > .imgs_box > .img_box > img {
  width: 100%;
}
.layer > .main_content > .dynamic_group > .dynamic > .dy_footer > ul {
  height: 0.6rem;
  line-height: 0.6rem;
}
.layer > .main_content > .dynamic_group > .dynamic > .dy_footer > ul > li {
  display: inline-block;
  width: 20%;
  text-align: center;
}
.layer > .main_content > .dynamic_group > .dynamic > .dy_footer > ul > li:first-of-type {
  margin-left: 55%;
}
.layer > .main_content > .footer {
  height: 1rem;
  line-height: 1rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  border-top: 1px solid #eeeeee;
  background-color: #fff;
}
.layer > .main_content > .footer > span>i{
  font-size: .5rem;
  vertical-align:middle;
  margin-right: .1rem;
}
.layer > .main_content > .footer > span {
  position: absolute;
  left: 20%;
  width: 60%;
  text-align: center;
  color: #ffffff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #778afb;
  height: 0.8rem;
  font-size: 0.3rem;
  line-height: 0.8rem;
  top: 10%;
}
/*#mask{
  display: block;
}*/
#share{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index:10;
  width: 80%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: auto;
  background-color: #fff;
}
#share > p{
  text-align: center;
  height: 2rem;
  line-height: 2rem;
  font-size: .3rem;
  color:#333;
}
#share > .apply{
  width: 100%;
  height: .8rem;
  line-height: .8rem;
}
#share > .apply > span{
  width: 49%;
  border:none;
  font-size: .3rem;
  text-align: center;
 }
#share > .apply > span.sure_delete{
  color:#778afb;
}
