body,html{
    background-color:#f4f4f4;
}
.add{
    height:2.3rem;
    background-color:#fff;
    width:100%;
    margin-top:.25rem;
    padding:.2rem;
    box-shadow:.01rem .01rem .03rem #eee;
}
.middle-two{
    width:100%;
    padding:1.28rem .3rem 0 .3rem;
    background-color:#f4f4f4;
    border-radius:.06rem;
}
.a_add span:nth-of-type(1){
    font-size:.32rem;
    color:#333;
}
.a_add span:nth-of-type(2){
    font-size:.3rem;
    color:#778afb;
    margin-left:.3rem;
}
.reject,.agree{
    padding:0 .4rem;
    height:.64rem;
    border-radius:.32rem;
    line-height:.64rem;
    text-align:center;
    font-size:.3rem;
    display:inline-block;
    float:right;
    margin-top:.6rem;
}
.reject{
    background-color: #dcdcdc;
    font-size:.3rem;
    color:#333;
    margin-right:.3rem;
}
.agree{
    background-color:#778afb;
    color:#fff;
    font-size:.3rem;
}