.resetUpwd{
    width: 5.8rem;
    height: .98rem;
    margin: 0 auto;
    font-size: .28rem;
    color:#999;
    line-height: .98rem;
    border-bottom:1px solid #eee;
}
.resetUpwd-input{
    BACKGROUND-COLOR: transparent;
}
.acquire-code{
    width:1.28rem;
    height:.5rem;
    background-color:#7b8df9;
    font-size: .24rem;
    border-radius: .25rem;
    color:#ffffff;
}
.c-4e{
    font-size:.36rem;
    color:#fff;
    line-height: .88rem;
}
.logon{
    width:5.4rem;
    height:.88rem;
    background-color:#7b8df9;
    border-radius:.44rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 0.5rem;
}