<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>评论</title>
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="../../css/iconfont.css" />
    <link rel="stylesheet" href="../../css/all.css" />
    <link rel="stylesheet" href="../../css/like.css" />
</head>
<body>
<div>
    <div class="head">
        <span onclick="back()">
        <i class="iconfont icon-right"></i></span>
        <h1 class="titles">评论</h1>
    </div>
    <div class="middle-three">

     <!--   <div class="n_zan">
            <div class="name row">
                <div class="z_name">
                    <img src="../../img/11.png" alt="">
                </div>
                <div class="x_name">
                    <p>魏雨</p>
                    <p>2018.11.15 15:46</p>
                </div>
            </div>
            <div class="z_zan">
                <p>很喜欢，不错哦！</p>
            </div>
            <div class="content row">
                <div class="c_content">
                    <img src="../../img/44.png" alt="">
                </div>
                <div class="v_content">
                    <p>今天做的甜点，感觉味道还不错，欢迎大家来 品尝！</p>
                </div>
            </div>
            <div>
                <input type="text" placeholder="回复魏雨" class="resetUpwd" />
            </div>
        </div>-->
    </div>
</div>
<script src="../../js/x_rem.js"></script>
<script src="../../js/common/back.js"></script>
<script src="../../js/common/base.js"></script>
<script src="../../js/common/zepto/zepto.min.js"></script>
<script src="../../js/common/zepto/outHeight.js"></script>
<script src="../../js/common/template/template.js"></script>
<script type="text/html" id="list">
    {{if rows.length==0}}
    <div class="no_in">对不起，暂时没有评论的消息</div>
    {{else}}
    {{each rows as value i}}
   <div class="list">
       <div class="n_zan" onclick="location.href='../friends/dynamic_detail.html?dynamicId={{value.dynamic.dynamicId}}'">
           <div class="name row">
               <div class="z_name">
                   <img src="{{value.avatar}}" alt="">
               </div>
               <div class="x_name">
                   <p>{{value.fullName}}</p>
                   <p>{{time(value.createTime)}}</p>
               </div>
           </div>
           <div class="z_zan">
               <p>回复内容为：{{value.body}}</p>
           </div>
           <div class="content row">
               {{if value.dynamic.image!==''}}
               <div class="c_content">
                   <img src="{{str(value.dynamic.image)[0]}}" alt="">
               </div>
               {{/if}}
               <div class="v_content">
                   <p>{{value.dynamic.dynamicBody}}</p>
               </div>
           </div>
       </div>
       <div class="del" data-dyid="{{value.dynamicMessageId}}" >删除</div>
   </div>
    {{/each}}
    {{/if}}
</script>
<script>
    $(function () {
        myAjax({url:"/dynamicMessage/findDynamicMessage2",type:"post",data:{page:1,rows:5}}, function (data) {
            var data=JSON.parse(data);
            console.log(data);
            template.helper("str", function (a) {
                return a.split(",")
            })
            template.helper("time",function(time){
                var timestamp=new Date().getTime();//当前时间戳
                var time=new Date(time).getTime();//当前时间戳
                var kk=timestamp-time;//发表时的时间戳
                var timea="";
                var sec=parseInt(kk/1000);//秒
                var min=parseInt(sec/60);//分
                var hour=parseInt(min/60);//时
                var day=parseInt(hour/24);//天
                if(sec<60){
                    timea=sec+"秒前";
                }else if(min<60){
                    timea=min+"分钟前";
                }else if(hour<24){
                    timea=hour+"小时前";
                }else if(day<7){
                    timea=day+"天前";
                }else{
                    timea=new Date(time).toLocaleString().replace(/:\d{1,2}$/,' ').substr(5,12).replace(/\//g,"-");
                }
                return timea;
            });
            $(".middle-three").html(template("list",data));
        })
        loadIndex($(".middle-three"),"/dynamicMessage/findDynamicMessage2",{rows:5}, function (data) {
            console.log(data);
            $(".middle-three").append(template("list",data));
        })
        function loadIndex(element,url,obj,successFn) {
            $(element).on("scroll",function(){
                //当前可视容器高度
                var _elementHeight = $(element).outerHeight(),
                //当前滚动区域高度
                        _elementChildHeight = $(element).children().outerHeight(),
                //滚动条高度
                        _elementScroll = $(element).scrollTop();
                //滚动区域 - 滚动条高度 > 可视高度  就是还可以滚动  表示没有滚动到底部  否则就到了底部
                if(_elementChildHeight - _elementScroll - 10 > _elementHeight){
                    //console.log('没到底')
                }else {
                    //console.log('到底了')
                    //当状态为0 的时候进行加载，防止重复加载
                    if(_loadState == 0){
                        //状态更新为1
                        _loadState = 1;
                        //增加页数
                        _loadIndex += 1;
                        //添加正在加载loadding
                        $(element).append('<p class="nowLoad">加载中...</p>');
                        //请求当前页数ajax
                        ajaxLoadNew(obj);
                    }
                }
            });
            //ajax请求
            function ajaxLoadNew(obj) {
                //更新发向服务器的数据，添加页数key值
                /* dataObj.page = page;
                 dataObj.size = 4;
                 dataObj.userId = userId;*/
                obj.page=_loadIndex;
                $.ajax({
                    url:baseUrl+url,
                    xhrFields:{
                        withCredentials:true
                    },
                    type:"post",
                    dataType:'json',
                    async:false,
                    data:obj,
                    success:function (data) {
                        // console.log(data);
                        //数据渲染  ajajx回调

                        //当数据不为空的时候，更新状态
                        if(data.rows.length > 0){
                            //更新状态 为 0
                            _loadState = 0;
                            //删除正在加载loadding
                            $('.nowLoad').remove();
                            successFn(data);
                            /* function hg(){
                             $(".nowLoad").remove();
                             }
                             setTimeout(hg,1200);*/
                        }else {
                            //当数据长度小于等于0的时候，代表没有数据了，更新状态为2
                            _loadState = 2;
                            //删除正在加载loadding
                            $('.nowLoad').remove();
                            //更换loadding为没有数据
                            $(element).append('<p class="endLoad">没有数据了...</p>');
                            function fg(){
                                $(".endLoad").remove();
                            }
                            setTimeout(fg,3000);
                        }
                    },
                    error:function (err) {
                        //请求失败loadding
                        console.log(data);
                        sweetAlert(
                                "sorry",
                                data.msg,
                                "error"
                        )
                    }
                })
            }
        };
        $(".middle-three").on("click",".del", function (data) {
            var dyId=$(this).data("dyid");
            console.log(dyId);
            // console.log($(this).parents(".list"));
            $(this).parents(".list").hide();
            myAjax({url:"/dynamicMessage/deleDynamicMessageOne",data:{dynamicMessageId:dyId},type:"post"}, function (data) {
                var data=JSON.parse(data);
                console.log(data);
                if(data.code==0){
                    alert("已删除");
                }
            })
        })

    })
</script>
</body>
</html>