<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>亲友圈</title>
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="../../css/common/mui/mui.min.css" />
    <link rel="stylesheet" href="../../css/common/mui/mui_img.css" />
    <link rel="stylesheet" href="../../css/common/sweetAlert/sweetalert2.css" />

    <link rel="stylesheet" href="../../css/all.css" />
    <link rel="stylesheet" href="../../css/iconfont.css" />
    <link rel="stylesheet" href="../../css/friends-circle.css" />
</head>
<body>
<div>
    <div class="head">
        <span onclick="back()">
        <i class="iconfont icon-right"></i></span>
        <h1 class="titles">我发布的</h1>
    </div>
    <div class="middles" style="padding-bottom:0;">
       <!-- <div class="dynamic">
            <div class="h_photo row">
                <div class="photo">
                    <img src="../../img/22.png" alt="">
                </div>
                <div class="screen">
                    <p>陌上浅笑</p>
                    <p>3分钟前</p>
                </div>
                <div class="delete">
                    <i class="iconfont icon-shanchu"></i>
                </div>
            </div>
            <div onclick="location.href=''" class="content">
                <p>今天做的甜点，感觉味道还不错，欢迎大家来品尝！</p>
            </div>
            <div class="state">
                <div>
                    <img src="../../img/44.png" alt="">
                </div>
                <div>
                    <img src="../../img/55.png" alt="">
                </div>
                <div>
                    <img src="../../img/66.png" alt="">
                </div>
                <div>
                    <img src="../../img/77.png" alt="">
                </div>
                <div>
                    <img src="../../img/44.png" alt="">
                </div>
                <div>
                    <img src="../../img/55.png" alt="">
                </div>
            </div>
            <div class="discuss">
                <div onclick="location.href=''" class="p_discuss">
                    <i class="iconfont icon-evaluate"></i>
                    <span>9</span>
                </div>
                <div class="z_discuss">
                    <i class="iconfont icon-zan"></i>
                    <span>99</span>
                </div>
            </div>
        </div>-->
    </div>
</div>
<script src="../../js/x_rem.js"></script>
<script src="../../js/common/zepto/zepto.min.js"></script>
<script src="../../js/common/zepto/outHeight.js"></script>
<script src="../../js/common/base.js"></script>
<script src="../../js/common/back.js"></script>
<script src="../../js/common/mui/mui.min.js"></script>
<script src="../../js/common/mui/mui.zoom.js"></script>
<script src="../../js/common/mui/mui.preview.js"></script>
<script src="../../js/common/template/template.js"></script>
<script src="../../js/common/sweetAlert/sweetalert2.js"></script>
<script type="text/html" id="my_dynamic">
    {{if message==''||message==null||message.length==0}}
    <div class="no_in">对不起，您暂时没有发布动态喔</div>
    {{else}}
    {{each message as value i}}
    <div class="dynamic" data-id="{{i}}">
        <div class="h_photo row" >
            <div class="photo" onclick="location.href='./mine_data.html'">
                <img src="{{value.dynamic.userAvatar}}" onerror="this.src='../../img/main_logo.png'" alt="">
            </div>
            <div class="screen">
                <p>{{value.dynamic.userName}}</p>
                <p>{{time(value.dynamic.createTime)}}</p>
            </div>
            <div class="delete" data-dynamic="{{value.dynamic.dynamicId}}">
                <i class="iconfont icon-shanchu"></i>
            </div>
        </div>
        <div onclick="location.href='../friends/dynamic_detail.html?dynamicId={{value.dynamic.dynamicId}}'" class="content" >
            <p>{{value.dynamic.dynamicBody}}</p>
        </div>
        {{if value.dynamic.image.length!==0}}
        <div class="state">
            {{each spl(value.dynamic.image) as img j}}
            <div>
                <img src="{{img}}" onerror="this.src='../../img/main_logo.png'" data-preview-src="" data-preview-group="{{i}}" alt="">
            </div>
            {{/each}}
        </div>
        {{/if}}
        <div class="discuss">
            <div onclick="location.href='../friends/dynamic_detail.html?dynamicId={{value.dynamic.dynamicId}}'" class="p_discuss">
                <i class="iconfont icon-evaluate"></i>
                <span>{{value.dynamicComment}}</span>
            </div>
            <div class="z_discuss {{value.isUp==true?'active':''}}" data-dyid="{{value.dynamic.dynamicId}}">
                <i class="iconfont icon-zan "></i>
                <span>{{value.dynamicThumbsUp}}</span>
            </div>
        </div>
    </div>
    {{/each}}
    {{/if}}
</script>
<script>
    $(function () {
        mui.previewImage();
        mui('body').on('tap','a',function(){document.location.href=this.href;});
        render();
      function render(){
          myAjax({url:"/dynamic/findMyDynamic",type:"post",data:{page:1,rows:5}}, function (data) {
              var data=JSON.parse(data);
              console.log(data);
              if(data.code==0){
                  template.helper("spl",function(str){
                      return str.split(",")
                  });
                  template.helper("time",function(time){
                      var timestamp=new Date().getTime();//当前时间戳
                      var time=new Date(time).getTime();//当前时间戳
                      var kk=timestamp-time;//发表时的时间戳
                      var timea="";
                      var sec=parseInt(kk/1000);//秒
                      var min=parseInt(sec/60);//分
                      var hour=parseInt(min/60);//时
                      var day=parseInt(hour/24);//天
                      if(sec<60){
                          timea=sec+"秒前";
                      }else if(min<60){
                          timea=min+"分钟前";
                      }else if(hour<24){
                          timea=hour+"小时前";
                      }else if(day<7){
                          timea=day+"天前";
                      }else{
                          timea=new Date(time).toLocaleString().replace(/:\d{1,2}$/,' ').substr(5,12).replace(/\//g,"-");
                      }
                      return timea;
                  });
                  $(".middles").html(template("my_dynamic",data));
              }
          })
      }

        //删除 动态
        $(".middles").on("click",".delete", function () {
            var dyId=$(this).data("dynamic");
         //   console.log(dyId);
            //发送请求
            console.log($(this).parents().parents(".dynamic").data("id"));
            $(this).parents().parents(".dynamic").hide();
            myAjax({url:"/dynamic/deleDynamic",data:{dynamicId:dyId},type:"post"}, function (data) {
                var data=JSON.parse(data);
//                console.log(data);
//                console.log(data.code);
//                console.log($(this));
//                console.log($(this).parents().parents(".dynamic").data("id"));
                if(data.code!==0){
                   // alert(1);
                   // console.log($(this).parents().parents(".dynamic").data("id"))
                    sweetAlert(
                            "sorry",
                            data.message,
                            "error"
                    )
                }
            })

        })
        //翻页
        loadmore($(".middles"),"/dynamic/findMyDynamic", function (data) {
            console.log(data);
            if(data.code==0){
                $(".middles").append(template("my_dynamic",data));
            }
            console.log(1);
        })

        //点赞 或取消点赞
        function isHand(id,e){
            myAjax({url:"/dynamic/addDynamicThumbsUp",data:{dynamicId:id},type:"POST"}, function (data) {
                var data=JSON.parse(data);
                console.log(data);
                if(data.code==0&&data.message=='点赞成功'){
                    $(e).addClass("active");
                    var hand_number=$(e).children("span").text();

                    $(e).children("span").text(parseInt(hand_number)+1);
                }else if(data.code==0&&data.message=='取消点赞成功'){
                    $(e).removeClass("active");
                    var hand_number=$(e).children("span").text();

                    $(e).children("span").text(hand_number-1);

                }
            })
        }
        $(".middles").on("click",".z_discuss", function () {
            var id=$(this).data("dyid");
            //console.log(id);
            isHand(id,this);

        })
    })
</script>
</body>
</html>